*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bg-discordblue{
    background-color: rgba(49,97,224,255);
}

.bg-white{
    background-color: white;
    padding: 25px 0;
}

.bg-lightgray{
    background-color: lightgray;
    padding: 25px 0;
}

.bg-darkgray{
    background-color: rgb(53, 53, 53);
    padding: 25px 0;
}

header{
    padding: 10px;
    font-weight: 500;
}

header > div{
    max-width: 991px;
    margin: 20px auto;
    color: white;
}

div > ul{
    list-style: none;
    justify-content: space-around;
}

.container{
    display: flex;
}

.col-15{
    width: 15%;
}

.col-45{
    width: 45%;
}

.col-70{
    width: 70%;
}

.col-65{
    width: 65%;
}

.col-35{
    width: 35%;
}

.accedi{
    padding: 10px;
    color: black;
    background-color: white;
    border: 1px solid black;
    border-radius: 35%;
}

.jumbo{
    background-image: url("../img/jumbo.png");
    background-size: cover;
}

.jumbo > div{
    margin: 0 auto;
    max-width: 700px;
    flex-direction: column;
    padding: 150px 0;
    color: white;
    gap: 20px 0;
    text-align: center;
    font-size: 25px;
}

.row{
    width: 100%;
    justify-content: center;
}

.row > h1{
    font-size: 50px;
}

.row.container{
    justify-content: space-between;
}

.button{
    padding: 10px 0px;
    color: white;
    background-color: black;
    border-radius: 25px;
}

.button.col-45:first-of-type{
    background-color: white;
    color: black;
}

.bg-white > div, .bg-lightgray > div, footer > div{
    margin: 0 auto;
    max-width: 991px;
}

.col-35.container{
    align-items: center;
    justify-content: center;
    margin: 30px;
}

p{
    line-height: 1.6;
}

#fourth-content-box{
    flex-direction: column;
    text-align: center;
    align-items: center;
}

#fourth-content-box > h1, #fourth-content-box > p{
    padding: 25px 25px 0px 25px;
}

#fourth-content-box> {
    flex-direction: column;
    text-align: center;
}

.prompt{
    background-image: url("../img/stars.svg");
    background-size: contain;
    background-repeat: no-repeat;
    max-width: 35%;
    padding: 25px;
}

.download{
    background-color: rgb(125, 100, 236);
    color: white;
    padding: 15px;
    border-radius: 20px;
    text-align: center;
}

footer{
    color: rgb(125, 100, 236);
}

footer > div.container{
    padding: 50px 0;
}

.footerlist{
    list-style-type: none;
    color: white;
}

.footerlist > li{
    padding: 5px 0px;
}

hr{
    border: 1px solid rgb(125, 100, 236);
    margin: 0px auto;
    max-width: 991px;
}
